# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage

# Dependency directories
node_modules/

# Gatsby files
.cache/
public
gatsby-types.d.ts

# Lighthouse files
.lighthouseci

# IDE files
.vscode

# Environment variables
.env

TODO
