@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply underline hover:no-underline;
    }
    @font-face {
        font-family: KG Second Chances;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/kg-second-chances.woff2) format("woff2");
    }
    @font-face {
        font-family: Quicksand;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/quicksand.woff2) format("woff2");
    }
}
