@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply underline hover:no-underline;
    }
    @font-face {
        font-family: Quicksand;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/quicksand.woff2) format("woff2");
    }
    @font-face {
        font-family: Darumadrop One;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/darumadrop-one.woff2) format("woff2");
    }
}

@layer utilities {
    .grid-area-1-1 {
        grid-area: 1/1;
    }
    .text-shadow {
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    }
    .text-shadow-light {
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    }
}
